body {
  margin: 0 auto;
}
h1,
h2,
h3 {
  color: #333333;
  text-align: center;
}
h1 {
  font-size: 100px;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 25px;
}
h2,
a,
p,
h3,
footer {
  font-family: "Lato", sans-serif;
}
.hero h1 {
  padding-top: 100px;
}
.hero {
  background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  /*
  purples
  background: linear-gradient(
    109.6deg,
    rgba(79, 148, 243, 0.73) 11.2%,
    rgba(140, 105, 193, 0.87) 91.2%
    );
    radiating green to blue from top left corner
    background: radial-gradient(
      circle at 10% 20%,
      rgb(0, 255, 176) 0%,
      rgb(66, 105, 242) 90%
      );
      horiontal blue and green
      ppblbg
      
      greens
      background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
      yorppb
      background: linear-gradient(
        96.2deg,
        rgb(255, 230, 112) 10.4%,
        rgb(255, 100, 100) 43.8%,
        rgb(0, 93, 219) 105.8%
        );
        */
}

.navigation-links {
  display: flex;
  justify-content: center;
}
.contact-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #333333;
  border: 1px solid black;
  margin: 30px 0 150px 0;
}
.contact-link-work {
  padding: 10px 15px;
  text-decoration: none;
  color: #333333;
  border: 1px solid black;
  margin: 30px 0 0 0;
}
.projects-header {
  font-size: 40px;
  margin: 20px 0 20px 20px;
}
.row {
  margin: 0;
}
.weather-app {
  background-color: #ebebeb;
  margin: 0 60px;
  padding: 25px 25px;
  transition: 0.5s;
}
.blue {
  background-color: #9fc8e1;
  padding: 25px 25px;
  margin-left: 60px;
  transition: 0.5s;
}
.green {
  background-color: #6df1cd;
  padding: 25px 25px;
  margin-right: 60px;
  transition: 0.5s;
}
.blue:hover {
  background-color: #72afd3;
}
.green:hover {
  background-color: #37ecba;
}
.weather-app:hover {
  background-color: #cecece;
}
.weather-app-link {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 1px;
  transition: 0.5s;
}
.weather-app-link:hover {
  text-decoration: none;
  color: black;
  padding: 20px 0;
}
.weather-app-img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}
.title {
  font-size: 35px;
}
.description {
  font-size: 20px;
  padding-top: 15px;
}
.projects-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #333333;
  border: 1px solid black;
  margin: 30px 0;
}
.about-me-info {
  text-align: justify;
  margin: 0 50px;
}
.ashley-pic {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}
.about-sub-heading {
  margin-bottom: 30px;
}
.contact-header {
  margin-bottom: 30px;
}
.links {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
}
footer {
  background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  margin-top: 75px;
  text-align: center;
  font-size: 25px;
  padding: 100px 0;
}
footer a {
  color: #333333;
}
footer .social-links {
  margin-top: 30px;
  font-size: 50px;
}
footer .social-links a {
  margin: 0 20px;
}
.open-sourced {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 70px;
  }
  .weather-app,
  .blue,
  .green {
    margin: 0;
  }
}
